%h1.page-header
  = @league.name
  = link_to "new results", new_league_standing_path(@league), class: 'btn btn-primary pull-right'
.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th Pos
        %th Driver
        %th Team
        %th Starts
        %th Wins
        %th Top-5
        %th Top-10
        %th Tot Points
        %th Bns Pts
        %th Laps
        %th Beh Lead
        %th Beh Next
    %tbody
      = render @league.drivers