.container
  .row
    .col-lg-12.section
      %h2 1. What is scores?
      %p
        The idea behind scores was to enable league admins to make neat looking graphics for their leagues without having
        to spend hours on Photoshop. These graphics can then be used on iRacing forums, webpages, etc.
      %h2 2. What does scores cost?
      %p
        Nothing.
      %h2 3. What can I use scores for?
      %p
        Etc etc what not.
      %h2 4. How does scores work?
      %p
        Getting scores to work is pretty simple:
        %ol
          %li Register on the webpage.
          %li Create a league
